@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@500;700;900&display=swap");

body {
  background-color: #16161a;
  color: #94a1b2;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fffffe;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  font-weight: 700;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 72px;
}

h2 {
  font-size: 36px;
  letter-spacing: 0.01em;
  line-height: 175%;
  font-weight: 900;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
}

h5 {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 21px;
  color: #2cb67d;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(44, 182, 125, 0.5);
}

p {
  letter-spacing: 0.03em;
  line-height: 150%;
}

a {
  color: #2cb67d;
  font-weight: 700;
  text-shadow: 0px 0px 5px rgba(44, 182, 125, 0.5);
}

.text-green {
  color: #2cb67d;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#branding {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #2cb67d;
  text-shadow: 0px 0px 5px rgba(44, 182, 125, 0.5);
}

#contact-links ul {
  list-style: none;
  display: flex;
}

#contact-links a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: none;
  color: #94a1b2;
  font-weight: 500;
}

#contact-links a:hover {
  color: #2cb67d;
  text-shadow: 0px 0px 5px rgba(44, 182, 125, 0.5);
  text-decoration: underline;
}

footer {
  font-size: 12px;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 auto;
}

.main-section {
  padding: 40px 0;
}

.text-center {
  text-align: center;
}

.list-wrapper {
  display: flex;
}

.list {
  list-style: none;
  margin-right: 16px;
}

.list-item {
  color: #fffffe;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 12px;
}

.list-item:before {
  content: "\2022";
  color: #2cb67d;
  /* text-shadow: 0px 0px 5px rgba(44, 182, 125, 0.5); */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
